<div class="container main-container">
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true">
        <p style="color: white">Aguardando...</p>
    </ngx-spinner>

    <h1>Lista de Produtos</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/product/new-product']">Novo Produto</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Fornecedor</th>
                <th>Valor</th>
                <th>Ativo?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of products">
                <td>
                    <img src="{{imgs}}/{{produto.imagem}}" style="width: 70px; height: 100px;">
                </td>
                <td>
                    {{produto.nome}}
                </td>
                <td>
                    {{produto.nomeFornecedor}}
                </td>
                <td>
                    {{produto.valor | currencyBrazil}}
                </td>
                <td>
                    <input type="checkbox" [checked]="produto.ativo" class="check-box" disabled="disabled">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/product/details-product', produto.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/product/edit-product', produto.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/product/remove-product', produto.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>