<div class="container main-container">
    <h1>Novo Fornecedor</h1>

    <hr>

    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" [formGroup]="form" (submit)="addSupplier()">
                
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3>Ocorreu um erro!</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input type="text" class="form-control" id="nome" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome}">
                        <span class="text-danger">
                            <p [innerHTML]="displayMessage.nome"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Documento</label>
                    <div>
                        <input type="text" class="form-control" id="nome" placeholder="{{textDocumento}}" formControlName="documento" [textMask]="typeForm().value === '1' ? {mask: MASKS.cpf.textMask} : {mask: MASKS.cnpj.textMask}" [ngClass]="{'is-invalid': displayMessage.documento}">
                        <span class="text-danger">
                            <p [innerHTML]="displayMessage.documento"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="TipoFornecedor">Tipo</label><br>
                    <input type="radio" value="1" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Física <br>
                    <input type="radio" value="2" id="tipoFornecedor" formControlName="tipoFornecedor" name="tipoFornecedor"> Pessoa Juridica
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo" name="ativo" value="true"> Ativo ?
                    </label>
                </div>

                <h4>Endereço</h4>
                <hr>

                <div formGroupName="endereco">
                    
                    <div class="form-group">
                        <label class="control-label">CEP</label>
                        <div>
                            <input class="form-control" type="text" id="cep" placeholder="CEP (requerido)" (blur)="buscaCep($event.target.value)" formControlName="cep" cep [textMask]="{mask: MASKS.cep.textMask}" [ngClass]="{'is-invalid': displayMessage.cep}">
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.cep"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Logradouro</label>
                        <div>
                            <input class="form-control" type="text" id="logradouro" placeholder="Logradouro (requerido)" formControlName="logradouro"  [ngClass]="{'is-invalid': displayMessage.logradouro}">
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.logradouro"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Número</label>
                        <div>
                            <input class="form-control" type="text" id="numero" placeholder="Numero (requerido)" formControlName="numero"  [ngClass]="{'is-invalid': displayMessage.numero}">
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.numero"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <div>
                            <input class="form-control" type="text" id="complemento" placeholder="Complemento" formControlName="complemento">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Bairro</label>
                        <div>
                            <input class="form-control" type="text" id="bairro" placeholder="Bairro (requerido)" formControlName="bairro"  [ngClass]="{'is-invalid': displayMessage.bairro}">
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.bairro"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Cidade</label>
                        <div>
                            <input class="form-control" type="text" id="cidade" placeholder="Cidade (requerido)" formControlName="cidade"  [ngClass]="{'is-invalid': displayMessage.cidade}">
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.cidade"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <div>
                            <select class="form-control" id="estado" formControlName="estado" [ngClass]="{'is-invalid': displayMessage.cidade}">
                                <option value="">Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <span class="text-danger">
                                <p [innerHTML]="displayMessage.estado"></p>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Cadastrar">&nbsp;
                        <a class="btn btn-info" [routerLink]="['/supplier/list-supplier']">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>